.form {
    text-align: right;
  }

  .container{
    display:flex;
    max-width:700px;
    justify-content:space-between;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #3b5825;
    border: 1px solid #3b5825;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #1d320b;
    border-color: #1d320b;
  }