.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  text-align: right;
}

.order,
.close {
  font: inherit;
  cursor: pointer;
  background-color: #3b5825;
  border: 1px solid #3b5825;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 1rem;
}
.close {
  background-color: transparent;
  color: #1d320b;
}

.close:hover,
.order:hover {
  background-color: #1d320b;
  border-color: #1d320b;
}
.close:hover {
  color: white;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
